{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activate Your Account</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>
    {% if messages %}
    {% for message in messages %}
    {% include 'includes/alerts.html' %}
    {% endfor %}
    {% endif %}
    <h1>Please activate your account sent in your Email...</h1>
    <h3>Click here to login..<a href="{%url 'login' %}">login</a></h3>

</body>

</html>